#InvoicePaymentFrame {
    border:    0;
    width:    100%;
    min-width: 710px;
    height:     100%;
    min-height:  460px;
}

@media handheld {
    #InvoicePaymentFrame {
        border:    0;
        width:    100%;
        max-width: 400px;
        height:     100%;
        min-height:  460px;
    }
}

#invoice-modal-content {
    z-index: 1050;
    width: 710px!important;
    padding: 0px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

@media handheld {
    #invoice-modal-content {
        width: 300px!important;
    }
}

#invoice-modal-dialog {
    max-width: 710px;
}

#invoice-modal-body {
    padding: 0;
}
