#InvoicePaymentFrame {
    border:    0;
    width:    100%;
    height:     100%;
    min-height:  460px;
}

#invoice-modal-dialog {
    max-width: 710px;
}

.modal-dialog {
  margin: .5rem;
}

#invoice-modal-content {
    z-index: 1050;
    padding: 0px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

#invoice-modal-body {
    padding: 0;
}

@media screen and (max-width: 400px) {
    #InvoicePaymentFrame {
        min-width: 300px;
        min-height:  460px;
    }
}

@media (min-width: 576px) {
  .modal-dialog-centered {
    min-height: calc(100% - (.5rem * 2));
  }
}

@media (min-width: 727px) {
  .modal-dialog {
    margin: 1.75rem auto;
  }
}
